div.pane {
	display: none;
}

div#start {
	display: block;
}

.statusBusy {
	color: #ffa500;
}

.statusError {
	color: #c00;
}

.statusOk {
	color: #0c0;
}

.statusInfo {
	color: #00c;
}


#scanConfirm,
#scanReturn {
	display: none;

}
