div.pane,
div#runtime {
	display: none;
}

div#start {
	display: block;
}

.statusBusy {
	color: #aaa;
}

.statusError {
	color: #c00;
}

.statusOk {
	color: #0c0;
}

.statusInfo {
	color: #00c;
}

.statusWarn {
	color: #ffa500;
}

#scanConfirm,
#scanReturn {
	display: none;

}
